/game_server_programming/.vs/game_server_programming/v16
/game_server_programming/ch01.deadlock.example/*.user
/game_server_programming/ch01.deadlock.example/x64/Debug/ch01.dea.3da60e3a.tlog/*.tlog
/game_server_programming/ch01.deadlock.example/x64/Debug/ch01.dea.3da60e3a.tlog/*.lastbuildstate
/game_server_programming/ch01.deadlock.example/x64/Debug
/game_server_programming/ch01.prime_number/x64/Debug
/game_server_programming/x64/Debug
/game_server_programming/ch01.prime_number_advanced/x64/Debug
/game_server_programming/ch01.prime_number_advanced/*.user
/game_server_programming/ch01.prime_number/*.user
